<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="container py-4">
        <div class="copyright">
        </div>
        <div class="credits">
            <a class="blog" href="https://blog.naver.com/dswuniv_blog"><i class="bx bx-bold"></i></a>
            <a class="facebook" href="https://www.facebook.com/DukSungWU"><i class="bx bxl-facebook"></i></a>
            <a class="instagram" href="https://www.instagram.com/duksung_official/"><i class="bx bxl-instagram"></i></a>
            <a class="youtube" href="https://www.youtube.com/channel/UCrda7r7df_GPinyBULMA6CA"><i
                    class="bx bxl-youtube"></i></a>
        </div>
    </div>
</footer><!-- End Footer -->


<!--  페이지 위로 가는 버튼-->
<a class="back-to-top d-flex align-items-center justify-content-center" href=""><i class="bi bi-arrow-up-short"></i></a>
