{% extends "base/base.html" %}

{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="flip-up" style="color: #fff;">
        <h1>환영합니다. 숏폼 제작 플랫폼입니다.</h1>
        <h2>Welcome. It's a platform for producing short forms.</h2>
        <a class="download-btn" href="/img_processing"><i class="bx bx-pencil"></i> 생성하기</a>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section class="about" id="about">
        <div class="container">
            <br><br>
            <div class="row">
                <div class="col-xl-6 col-lg-6 video-box d-flex justify-content-center align-items-stretch"
                     data-aos="zoom-in">
                </div>

                <!--  영상 삽입시   <div class="col-xl-6 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="zoom-in">
                        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                      </div>-->

                <div class="col-xl-6 col-lg-6 d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    <div class="box-heading" data-aos="fade-up">

                        <h4>It's short time</h4>
                        <h3>프로젝트 짧은 설명</h3>
                        <p>프로젝트 부연 설명</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up">
                        <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title"><a href="">사용기술 1</a></h4>
                        <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias
                            excepturi sint occaecati cupiditate non provident</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a href="">사용기술 2</a></h4>
                        <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                            praesentium voluptatum deleniti atque</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bx bx-atom"></i></div>
                        <h4 class="title"><a href="">사용기술 3</a></h4>
                        <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis
                            odit. Sunt aut deserunt minus aut eligendi omnis</p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Contact Section ======= -->
    <section class="contact" id="contact">
        <div class="container">
            <br>
            <div class="section-title" data-aos="fade-up">
                <h2>Contact</h2>
                <p>'It's short time'은 원활한 숏폼 생성을 위해 덕성여자대학교 재학생들이 만든 서비스입니다. <br> 덕성여자대학교에 대한 정보는 아래와 같습니다.</p>
            </div>

            <div class="row">

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="row">
                        <div class="col-lg-6 info">
                            <i class="bx bx-map"></i>
                            <h4>Address</h4>
                            <p>01369|서울 도봉구 삼양로144길 33<br>(쌍문동, 덕성여자대학교)|덕성여자대학교</p>
                        </div>
                        <div class="col-lg-6 info">
                            <i class="bx bx-phone"></i>
                            <h4>Call</h4>
                            <p><br>(ARS) 02-901-8000</p>
                        </div>
                        <div class="col-lg-6 info">
                            <i class="bx bx-envelope"></i>
                            <h4>Email</h4>
                            <br>
                            <p>webmaster@duksung.ac.kr</p>
                        </div>
                        <div class="col-lg-6 info">
                            <i class="bx bx-street-view"></i>
                            <h4>Founder</h4>
                            <p>차미리사 여사<br>[ 車美理士 ]</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <iframe allowfullscreen=""
                            height="410" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3158.9149713724296!2d127.01358547541332!3d37.6512030192694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca2db5ffa6175%3A0x1d5935583a54912a!2z642V7ISx7Jes7J6Q64yA7ZWZ6rWQ!5e0!3m2!1sko!2skr!4v1700603774027!5m2!1sko!2skr"
                            style="border:0;"
                            width="100%"></iframe>
                </div>

            </div>
        </div>
    </section><!-- End Contact Section -->


</main><!-- End #main -->


{% endblock %}