{% extends "base/base.html" %}

{% block content %}
        <div class="main">
            <div class="title">
                About us!
            </div>
            <div class="subtitle">
                뭐 대충 우리에 대한 소개 한문장.
            </div>
        </div>
        <div class="introduce1">
            <div class="intro-item">
                <div class="intro-item-image">
                    <img width="150px" height="200px"
                    src="https://i.namu.wiki/i/qQaoHDOeNNCfLl72_lVS5JaYUTljns6Mey3jg5uQQ0aLYryB4AuGBZG9J3Pt1VHOZ9CTaaEU90iV1krPmeFUsYhzDy_PwqUsNRsR4pUQkkXBZLcS5AvJE1hdGugoSZeKABAQ-olPdT6ZZe1hcAAang.webp"
                    alt="TWS" />
                </div>
                <div class="intro-item-content">
                    <div class="intro-item-name">
                        박지예
                    </div>
                    <div class="intro-item-job">
                        역할 소개 한문장
                    </div>
                    <div class="intro-item-email">
                        email: jiye0710@duksung.ac.kr
                    </div>
                    <div class="intro-item-github">
                        github: 깃허브 링크
                    </div>
                </div>

            </div>
            <div class="intro-item">
                <div class="intro-item-image">
                    <img width="150px" height="200px"
                    src="https://i.namu.wiki/i/qQaoHDOeNNCfLl72_lVS5JaYUTljns6Mey3jg5uQQ0aLYryB4AuGBZG9J3Pt1VHOZ9CTaaEU90iV1krPmeFUsYhzDy_PwqUsNRsR4pUQkkXBZLcS5AvJE1hdGugoSZeKABAQ-olPdT6ZZe1hcAAang.webp"
                    alt="TWS" />
                </div>
                <div class="intro-item-content">
                    <div class="intro-item-name">
                        김예빈
                    </div>
                    <div class="intro-item-job">
                        역할 소개 한문장
                    </div>
                    <div class="intro-item-email">
                        email: jiye0710@duksung.ac.kr
                    </div>
                    <div class="intro-item-github">
                        github: 깃허브 링크
                    </div>
                </div>

            </div>

        </div>
        <div class="introduce2">
            <div class="intro-item">
                <div class="intro-item-image">
                    <img width="150px" height="200px"
                    src="https://i.namu.wiki/i/qQaoHDOeNNCfLl72_lVS5JaYUTljns6Mey3jg5uQQ0aLYryB4AuGBZG9J3Pt1VHOZ9CTaaEU90iV1krPmeFUsYhzDy_PwqUsNRsR4pUQkkXBZLcS5AvJE1hdGugoSZeKABAQ-olPdT6ZZe1hcAAang.webp"
                    alt="TWS" />
                </div>
                <div class="intro-item-content">
                    <div class="intro-item-name">
                        정지민
                    </div>
                    <div class="intro-item-job">
                        역할 소개 한문장
                    </div>
                    <div class="intro-item-email">
                        email: jiye0710@duksung.ac.kr
                    </div>
                    <div class="intro-item-github">
                        github: 깃허브 링크
                    </div>
                </div>

            </div>
            <div class="intro-item">
                <div class="intro-item-image">
                    <img width="150px" height="200px"
                    src="https://i.namu.wiki/i/qQaoHDOeNNCfLl72_lVS5JaYUTljns6Mey3jg5uQQ0aLYryB4AuGBZG9J3Pt1VHOZ9CTaaEU90iV1krPmeFUsYhzDy_PwqUsNRsR4pUQkkXBZLcS5AvJE1hdGugoSZeKABAQ-olPdT6ZZe1hcAAang.webp"
                    alt="TWS" />
                </div>
                <div class="intro-item-content">
                    <div class="intro-item-name">
                        이윤서
                    </div>
                    <div class="intro-item-job">
                        역할 소개 한문장
                    </div>
                    <div class="intro-item-email">
                        email: jiye0710@duksung.ac.kr
                    </div>
                    <div class="intro-item-github">
                        github: 깃허브 링크
                    </div>
                </div>

            </div>
        </div>
{% endblock %}